@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --cor-azulclaro: #AEE5E5;
    --cor-rosa-bb: #F3C7E6;
    --cor-amarelo: #FFEAA9;
    --cor-rosa-escuro: #F25A70;
    --cor-azul---:#98dfee;
  }

 body{
    background-color: var(--cor-amarelo);
}

.card-title {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: start;
}

.card-text {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    text-align: center;  
}

@media (max-width: 100%) {
  .row {
   
      width: 25%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
  }
  
}  
@media (max-width: 80%) {
  main {
   
      width: 25%;
      display: flex;
      align-items: flex-start;
  }
  
}

