@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --cor-azulclaro: #AEE5E5;
    --cor-rosa-bb: #F3C7E6;
    --cor-amarelo: #FFEAA9;
    --cor-rosa-escuro: #F25A70;
    --cor-azul---:#98dfee;
  }

.produtos{
    background-color: var(--cor-amarelo);
}

.produtos-h1{
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.produtos-p{
    font-size: 20px;
    padding-left: 30px;
}

.container-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    flex-direction: row;
    text-align: center;
}

.container-produtos div{
    margin: 30px;
    flex: 1 1 300px;
    width: 400px;
}

.produtos h2 {
    text-align: center;
    padding: 20px;
    font-family: 'EB Garamond', serif;
    font-size: 40px;
}

.item1 {
    border-radius: 20px;
    padding-top: 20px;
}

.item2{
    border-radius: 20px;
    padding-top: 20px;
}

.link{
  text-decoration: none;
  color: black;
}

@media (max-width: 100%) {
    .row {
     
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    
  }  
  @media (max-width: 80%) {
    main {
     
        width: 25%;
        display: flex;
        align-items: flex-start;
    }
    
  }
