   @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gentium+Book+Basic:ital@0;1&family=Lobster&family=Pacifico&display=swap');

   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   .container-geral {
     max-width: 960px;
     margin: 0 auto;
     padding: 0px 2%;
   }

   :root {
     --cor-azulclaro: #AEE5E5;
     --cor-rosa-bb: #F3C7E6;
     --cor-amarelo: #FFEAA9;
     --cor-rosa-escuro: #F25A70;
   }

   .color-body {
     background-color: var(--cor-amarelo);
   }

   html {
     scroll-behavior: smooth;
   }

   li {
     list-style: none;
   }

   a {
     text-decoration: none;
   }

   /*---------------------------------Header---------------------------------*/

   header {
     background-color: var(--cor-azulclaro);
     border-bottom: 5px solid black;
   }

   .header-container {
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1000px;
   }

   .header-logo img {
     width: 100%;
   }

   .header-logo {
     width: 150px;
   }

   .header-menu {
     list-style: none;
     display: flex;
     flex-wrap: wrap;
   }

   .header-nav-link {
     color: black;
     text-decoration: none;
     margin-left: 10px;
     font-size: 1.1em;
     padding: 10px;
   }

   .header-nav-link:hover {
     color: var(--cor-rosa-escuro);
     border-radius: 20px;
   }


   .nav-inicio:hover {
     background-color: var(--cor-rosa-bb);

   }

   .nav-quem-somos:hover {
     background-color: var(--cor-amarelo);

   }

   .nav-missao:hover {
     background-color: var(--cor-rosa-bb);

   }

   .nav-produtos:hover {
     background-color: var(--cor-amarelo);
   }

   .nav-localizacao:hover {
     background-color: var(--cor-rosa-bb);
   }

   /*----------------------------------Main------------------------------------*/

   main {
     background-size: cover;
   }

   nav {
     text-align: right;
     margin-right: 50px;
   }

   .sorvete {
     font-size: 35px;
     margin-left: 40px;
   }

   .section-principal {
     background: linear-gradient(to right, #AEE5E5, #F3C7E6);
   }

   .div-principal {
     background-image: url("../imagens/principal.png");
     background-repeat: no-repeat;
     background-position: 100% 30%;
     padding: 70px;
   }

   main section h1 {
     font-family: "lobster";
     font-size: 55px;
     padding: 30px;
     text-align: center
   }

   main section p {
     font-family: 'Poppins', sans-serif;
     font-size: 30px;
     text-align: justify;
     text-indent: 20px;
   }

   /*------------------------------Hoje-tem e trio de imagens-------------------------------------------*/

   .class-img {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     text-align: center;
     align-items: center;
     padding: 10px;
   }

   .cor {
     padding: 30px 0;
     background-color: var(--cor-amarelo);
     font-family: "lobster";
     font-size: 30px;
   }

   .hoje-tem {
     font-family: "lobster";
     font-size: 25px;
     text-align: center;
     padding: 50px;
     background: var(--cor-rosa-bb);
   }

   .bloco-img {
     border-radius: 30px;
     filter: drop-shadow(2px 2px 5px);
     width: 200px;
     height: 262px;
   }

   /*----------------------------------------------Footer------------------------------------------*/

   footer {
     width: 100%;
     bottom: 0;
     background: linear-gradient(to right, #AEE5E5, #F3C7E6);
     color: black;
     padding: 100px 0 30px;
     border-top-left-radius: 125px;
     font-size: 1em;
     line-height: 20px;
   }

   .row {
     width: 85%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
   }

   .all {
     flex-basis: 25%;
     padding: 10px;
   }

   .all:nth-child(2),
   .all:nth-child(3) {
     flex-basis: 15%;
   }

   .all h3 {
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
   }

   .email-id {
     width: fit-content;
     border-bottom: 1px solid var(--cor-rosa-escuro);
     margin: 20px 0;
   }

   ul li {
     list-style: none;
     margin-bottom: 12px;
   }

   ul li a {
     text-decoration: none;
     color: black;
   }

   form {
     padding: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid var(--cor-rosa-escuro);
     margin-bottom: 50px;
   }

   form .far {
     font-size: 10px;
     margin-right: 10px;
   }

   form input {
     width: 100%;
     background: transparent;
     color: var(--cor-rosa-escuro);
     border: 0;
     outline: none;
   }

   form button {
     background: transparent;
     border: 0;
     outline: none;
     cursor: pointer;
   }

   form button .fa-solid {
     font-size: 16px;
     color: var(--cor-rosa-escuro);
   }

   .social-icons .fa-brands {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     text-align: center;
     line-height: 40px;
     font-size: 20px;
     color: var(--cor-rosa-escuro);
     background: rgb(255, 234, 169);
     background: radial-gradient(circle, rgba(255, 234, 169, 1) 34%, rgba(57, 208, 240, 1) 93%);
     cursor: pointer;
   }

   hr {
     width: 90%;
     border: 0;
     border-bottom: 1px solid var(--cor-rosa-escuro);
     margin: 20px auto;
   }

   .copyright {
     text-align: center;
   }

   .underline {
     width: 100%;
     height: 5px;
     background: var(--cor-rosa-escuro);
     border-radius: 3px;
     position: absolute;
     top: 25px;
     left: 0;
   }

   .logo-footer {
     width: 200px;
   }

   .logo-img-caixa {
     width: 200px;
     height: 200px;
     box-shadow: 2px 1px 2px #0003;
   }