/*=============================GERAIS===================================*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
    --cor-azul:#7ab4bf;
    --cor-azul-bb: #AEE5E5;
    --azul-claro: #98dfee;
    --cor-azul-escuro: #283BE5;
    --cor-rosa-bb: #F3C7E6;
    --cor-amarelo: #FFEAA9;
    --cor-amarelo-escuro: #F3DC94;
    --cor-amarelo-queimado: #736029 ;
    --cor-amarelo-intenso:#f4cd58;
    --cor-rosa-escuro:#F25A70;
    --cor-rosa-acai:#733C62 ;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/*=============================HEADER===================================*/

header {
    background-color: var(--cor-azul-bb);
  }
  
  .header-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
  }
  
  .header-logo img{
    width: 100%;
  }
  
  .header-logo {
    width: 150px;
  }
  
  .header-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-nav-link {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.1em;
    padding: 10px;
  }
  
  .header-nav-link:hover {
    color: var(--cor-rosa-escuro);
    border-radius: 20px;
  }
  
  .nav-inicio:hover {
    background-color: var(--cor-rosa-bb);
  }
  
  .nav-quem-somos:hover {
    background-color: var(--cor-amarelo);
  }
  
  .nav-missao:hover {
    background-color: var(--cor-rosa-bb); 
  }
  
  .nav-produtos:hover {
    background-color: var(--cor-amarelo);  
  }

/*============================PRODUTOS-THALIA================================*/

.body-produtos{
    background-color: var(--azul-claro);
}

.section-produtos h1{
    color: var(--cor-azul-escuro);
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.section-produtos p{
    font-size: 20px;
    padding-left: 30px;
}

.article-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    flex-direction: row;
    text-align: center;
}

.article-container div{
    margin: 30px;
    flex: 1 1 300px;
    width: 400px;
}

.produtos-tipos{
    text-align: center;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.item1 {
    background: linear-gradient(180deg,var(--cor-amarelo),var(--cor-amarelo-intenso));
    border-radius: 20px;
    padding-top: 20px;
}
.item2{
    background: linear-gradient(180deg, var(--cor-rosa-bb),var(--cor-rosa-escuro));
    border-radius: 20px;
}
.link{
  text-decoration: none;
  color: black;
}

/*===========================SORVETES-THALIA=================================*/

 .sorvetes {
    background-color: var(--cor-amarelo);
}
.sorvetes-título {
    color: var(--cor-amarelo-queimado);
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.sorvetes-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: start;
}
.sorvetes-tipos{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
}
.item3{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background: linear-gradient(180deg, var(--cor-rosa-bb), var(--cor-rosa-escuro));
    border-radius: 20px;
    width: 500px;
}
.item4{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background: linear-gradient(180deg, var(--azul-claro), var(--cor-azul));
    border-radius: 20px;
    width: 500px;
}
.sorvetes-sabores, .sorvetes-cobertura, .sorvetes-acompanhamentos, .sorvetes-recheio{
    text-align: center;   
    font-size: 22px;
    padding-top: 20px;
}
div img{
    align-items: center;
}

li{
    font-size: 18px;
}

/*===========================PICOLÉS-THALIA==================================*/

.picoles{
    background-color: var(--cor-rosa-bb);
}

.picoles-titulo{
  color: var(--cor-rosa-acai);
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.picoles-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: start;
}

.item5{
  background: linear-gradient(180deg,var(--cor-amarelo),var(--cor-amarelo-intenso));
    border-radius: 20px;
}

.item6{
    background: linear-gradient(180deg, var(--azul-claro), var(--cor-azul));
    border-radius: 20px;
    width: 480px;
}

.picoles-tipos{
  font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;  
}

.picoles-sabores{
  text-align: center;   
    font-size: 22px;
    padding-top: 20px;
}
/*=================================FOOTER====================================*/

footer {
     width: 100%;
     bottom: 0;
     background: linear-gradient(to right, var(--cor-azul-bb), var(--cor-rosa-bb));
     color: black;
     padding: 100px 0 30px;
     border-top-left-radius: 125px;
     font-size: 1em;
     line-height: 20px;
   }

   .row {
     width: 85%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
   }

   .all {
     flex-basis: 25%;
     padding: 10px;
   }

   .all:nth-child(2),
   .all:nth-child(3) {
     flex-basis: 15%;
   }

   .logo {
     margin-bottom: 30px;
   }

   .all h3 {
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
   }

   .email-id {
     width: fit-content;
     border-bottom: 1px solid var(--cor-rosa-escuro);
     margin: 20px 0;
   }

   ul li {
     list-style: none;
     margin-bottom: 12px;
   }

   ul li a {
     text-decoration: none;
     color: black;
   }

   form {
     padding: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid var(--cor-rosa-escuro);
     margin-bottom: 50px;
   }

   form .far {
     font-size: 10px;
     margin-right: 10px;
   }

   form input {
     width: 100%;
     background: transparent;
     color: var(--cor-rosa-escuro);
     border: 0;
     outline: none;
   }

   form button {
     background: transparent;
     border: 0;
     outline: none;
     cursor: pointer;
   }

   form button .fa-solid {
     font-size: 16px;
     color: var(--cor-rosa-escuro);
   }

   .social-icons .fa-brands {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     text-align: center;
     line-height: 40px;
     font-size: 20px;
     color: var(--cor-rosa-escuro);
     background: var(--cor-amarelo);
     background: radial-gradient(circle, rgba(255, 234, 169, 1) 34%, rgba(57, 208, 240, 1) 93%);
     cursor: pointer;
   }

   hr {
     width: 90%;
     border: 0;
     border-bottom: 1px solid var(--cor-rosa-escuro);
     margin: 20px auto;
   }

   .copyright {
     text-align: center;
   }

   .underline {
     width: 100%;
     height: 5px;
     background: var(--cor-rosa-escuro);
     border-radius: 3px;
     position: absolute;
     top: 25px;
     left: 0;
   }

   .localizaçao {
     width: 200px;
     border-radius: 20px;
     filter: drop-shadow(-2px 2px 5px black);
   }








  