* {
    preenchimento: 0;
    margem: 0;
    box-sizing: border-box;
  }
  
  li {
    tipo de estilo de lista: nenhum;
  }
  
  um {
    texto-decoração: nenhuma;
    cor: #fff;
  }
  
  corpo {
    família de fontes: "Roboto", sans-serif;
  }
  
  . recipiente {
    largura máxima: 960px;
    margem: 0 auto;
    preenchimento: 30px 4%;
    cor: #fff;
  }

  . Mapas {
    flex: 2;
  }
  
   h1 principal  {
    cor: #583493ad;
    tamanho da fonte: 30px;
    texto-transformação: maiúsculas;
    peso da fonte: negrito;
    alinhamento de texto: centro;
    margem-fundo: 40px;
  }
  
  h1 principal: depois {
    conteúdo: "";
    display: bloco;
    largura: 40px;
    altura: 4px;
    plano de fundo: #583493ad;
    margem: 14px auto;
  }
  
  @media (largura máxima: 600px) {
    seção principal {
      flex-direção: coluna;
      alinhamento de texto: centro;
      justificar-itens: centro;
      intervalo: 20px;
    }
   . Mapas {
      flex: 1;
    }
  }